
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_sellerLayout</title>
</head>
<body>
    <div>
        <h1>Seller</h1>
        @RenderBody()
    <h4>Footer</h4>
    </div>
</body>
</html>
